* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(222, 207, 207, 0.775);
}

form {
  background-color: white;
  padding: 50px;
  box-shadow: 2px 2px 10px lightblue;
}

p {
  margin-top: 10px;
}

input {
  width: 300px;
  padding-left: 10px;
  height: 35px;
  margin-top: 15px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: rgb(233, 227, 227);
  font-size: 18px;
}

.submit-btn {
  color: white;
  background-color: rgb(0, 157, 255);
  transition: all 0.3s ease;
}

.submit-btn:hover {
  color: white;
  background-color: rgb(33, 130, 234);
}